{# src/Lci/BoilerBoxBundle/Resources/views/Bons/form_saisie_bons.html.twig #}

{% extends "LciBoilerBoxBundle::secondBonsLayout.html.twig" %}

{% block meta_viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=0.5, shrink-to-fit=no">
{% endblock meta_viewport %}


{% block liens_css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bons_attachement.css') }}" media='screen' />
{% endblock liens_css %}



{% block title %}{{ parent() }} Saisie de bon{% endblock title %}

{% block class_menu_boiler %} elargir {% endblock class_menu_boiler %}


{% form_theme form 'templates/form/fields.html.twig' %}

{% block fos_user_content %}
<div id='entete_de_page'><h1>Bons d'attachements</h1></div>

<div class='listing notToBePrinted'>
	<div class='listing_raw'>
		<div class='listing2' style='border:none;'>
			<div class='ajout_objet'>
				<h1>Nouveau Bon</h1>
				<div class='formulaire taille_texte_moyen' >
    		    	{{ form_start(form, {'action':path('lci_bons_saisie'), 'method':'POST', 'name':'myForm', 'id':'myForm'}) }}
        			{{ form_errors(form) }}
        		        <div class='ligne_error'>{{ form_errors(form.userInitiateur) }}</div>
            		    <div class='nouveau_probleme_ligne'><div>{{ form_label(form.userInitiateur) }}</div><div>{{ form_widget(form.userInitiateur) }}</div></div>

            		    <div class='ligne_error'>{{ form_errors(form.dateInitialisation) }}</div>
            		    <div class='nouveau_probleme_ligne'><div>{{ form_label(form.dateInitialisation) }}</div><div>{{ form_widget(form.dateInitialisation) }}</div></div>

						<div class='ligne_error'>{{ form_errors(form.user) }}</div>
            		    <div class='nouveau_probleme_ligne'><div>{{ form_label(form.user) }}</div><div>{{ form_widget(form.user) }}</div></div>

						<div class='ligne_error'>{{ form_errors(form.numeroBA) }}</div>
            			<div class='nouveau_probleme_ligne'><div>{{ form_label(form.numeroBA) }}</div><div>{{ form_widget(form.numeroBA) }}</div></div>

            		    <div class='ligne_error'>{{ form_errors(form.site) }}</div>
            		    <div class='nouveau_probleme_ligne'><div>{{ form_label(form.site) }}</div><div>{{ form_widget(form.site) }}</div></div>

						<div class='ligne_error'>{{ form_errors(form.numeroAffaire) }}</div>
            		    <div class='nouveau_probleme_ligne'><div>{{ form_label(form.numeroAffaire) }}</div><div>{{ form_widget(form.numeroAffaire) }}</div></div>

            		    <div class='ligne_error'>{{ form_errors(form.nomDuContact) }}</div>
            		    <div class='nouveau_probleme_ligne'><div>{{ form_label(form.nomDuContact) }}</div><div>{{ form_widget(form.nomDuContact) }}</div></div>

						<div class='ligne_error'>{{ form_errors(form.emailContactClient) }}</div>
            		    <div class='nouveau_probleme_ligne'><div>{{ form_label(form.emailContactClient) }}</div><div>{{ form_widget(form.emailContactClient) }}</div></div>

            		    <div class='ligne_error'>{{ form_errors(form.dateSignature) }}</div>
            		    <div class='nouveau_probleme_ligne'><div>{{ form_label(form.dateSignature) }}</div><div>{{ form_widget(form.dateSignature) }}</div></div>
						<div id="ajout_fichier_mobile_portrait"  class='ajout_fichier_joint'>
							<div class='ligne_error'>{{ form_errors(form.fichiersPdf) }}</div>
							<div class='nouveau_probleme_ligne'>
								<div>{{ form_label(form.fichiersPdf) }} <span style='font-size:12px'>( {{ max_upload_size }} max ) : </span><br />
									<span id='lien_ajout_fichier'></span>
								</div>
							</div>
							<div class='nouveau_probleme_ligne'><div id='champ_ajout_fichiers_bon'>{{ form_widget(form.fichiersPdf) }}</div></div>
						</div>
					{{ form_rest(form) }}
					{{ form_end(form) }}
				</div>
    			<div class='validation_formulaire_centre notToBePrinted'>
    	    		<img 	onClick="attente(); document.forms['myForm'].submit(); return false;"
							class="btn_menu" 
							alt="Valider"
							src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_enregistrer.png') }}"
    	        			onmouseover=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_enregistrer_hover.png') }}"
    	        			onmouseout=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_enregistrer.png') }}"
					/>
    			</div>
			</div>
		</div>

		<div class='listing3 notToBePrinted'>
			<div class='ajout_objet'>
				<h1 id='titre_nouveau_siteBA'>Nouveau site</h1>
				<a href='https://goo.gl/maps/RG2zoSZrbis8vsqj6' target='google'><span style='color:green; text-decoration:underline'>Accès Google Map</span></a>
				<div class='formulaire taille_texte_moyen'>
					{{ form_start(form_site, {attr: {'id': 'lci_boilerboxbundle_site_ba'}}) }}
					{{ form_errors(form_site) }}
						<input type='hidden' name='id_site_ba' id='id_site_ba' />

                        <div class='ligne_error'>{{ form_errors(form_site.adresse) }}{{ form_errors(form_site.lienGoogle) }}{{ form_errors(form_site.contact) }}{{ form_errors(form_site.emailContact) }}{{ form_errors(form_site.telContact) }}{{ form_errors(form_site.informationsClient) }}</div>
                        <div class='nouveau_probleme_ligne'><div>{{ form_label(form_site.intitule) }}</div></div>
						<div class='nouveau_probleme_ligne'><div class='right'>{{ form_widget(form_site.intitule) }}</div></div>

                        <div class='nouveau_probleme_ligne'><div>{{ form_label(form_site.adresse) }}</div></div>
                        <div class='nouveau_probleme_ligne'><div class='right'>{{ form_widget(form_site.adresse) }}</div></div>

                        <div class='nouveau_probleme_ligne'><div>{{ form_label(form_site.lienGoogle) }}</div></div>
                        <div class='nouveau_probleme_ligne'><div class='right'>{{ form_widget(form_site.lienGoogle) }}</div></div>

                        <div class='nouveau_probleme_ligne'><div>{{ form_label(form_site.contact) }}</div></div>
                        <div class='nouveau_probleme_ligne'><div class='right'>{{ form_widget(form_site.contact) }}</div></div>

                        <div class='nouveau_probleme_ligne'><div>{{ form_label(form_site.emailContact) }}</div></div>
                        <div class='nouveau_probleme_ligne'><div class='right'>{{ form_widget(form_site.emailContact) }}</div></div>

                        <div class='nouveau_probleme_ligne'><div>{{ form_label(form_site.telContact) }}</div></div>
                        <div class='nouveau_probleme_ligne'><div class='right'>{{ form_widget(form_site.telContact) }}</div></div>

                        <div class='nouveau_probleme_ligne'><div>{{ form_label(form_site.informationsClient) }}</div></div>
                        <div class='nouveau_probleme_ligne'><div class='right'>{{ form_widget(form_site.informationsClient) }}</div></div>

						<div id="ajout_fichier_siteBA_mobile_portrait" class='ajout_fichier_joint'>
                            <div class='ligne_error'>{{ form_errors(form_site.fichiersJoint) }}</div>
                            <div class='nouveau_probleme_ligne'>
                                <div>{{ form_label(form_site.fichiersJoint) }}<span style='font-size:12px'> ( {{ max_upload_size }} max ) : </span>
									<div id='fichiers_deja_joints' style='font-size:12px; font-style:italic; line-height:1.6;'></div>
                                    <span id='lien_ajout_fichier_siteBA'></span>
                                </div>
                            </div>
                            <div class='nouveau_probleme_ligne'><div id='champ_ajout_fichiers_siteBA'>{{ form_widget(form_site.fichiersJoint) }}</div></div>
                        </div>
                    {{ form_rest(form_site) }}
					{{ form_end(form_site) }}
    		    	<div class='validation_formulaire_centre notToBePrinted'>
        	    		<img    onClick="attente(); document.forms['lci_boilerboxbundle_site_ba'].submit(); return false;"
        	    		        class="btn_menu"
        	    		        alt="Valider"
        	    		        src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_enregistrer.png') }}"
        	    		        onmouseover=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_enregistrer_hover.png') }}"
        	    		        onmouseout=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_enregistrer.png') }}"
        	    		/>
        			</div>
				</div>
			</div>
		</div>
		<div>
			<div id='map' style='height:500px;width:500px;></div>
		</div>
    	<div>
    	    <div class='validation_formulaire_end notToBePrinted'>
    	    </div>
    	</div>
	</div>
	<div id="validation_formulaire_end_portrait">
		<div class='validation_formulaire_end notToBePrinted'>
   			<img 	onClick="attente(); redirection('accueilBons'); return false;"
					class="btn_menu"
					alt="Retour au menu"
					src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_retour_menu.png') }}" 
   					onmouseover=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_retour_menu_hover.png') }}"
   					onmouseout=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_retour_menu.png') }}"
   			/>
		</div>
	</div>
</div>

{% endblock fos_user_content %}


{% block javascript %}
{# Script d'autocompletion de l'adresse #}

    <script type='text/javascript'>
	var maCarte;

    function initAutocomplete(){
		var monMarqueur;

        maCarte = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 50.474, lng: 2.97118},
            zoom: 4,
            mapTypeId: 'roadmap'
        });

        /* Mise en place du textbox dans la carte */
        var input = document.getElementById('lci_boilerboxbundle_site_ba_adresse');

        var autocomplete = new google.maps.places.Autocomplete(input);
		autocomplete.setFields(['place_id', 'geometry']);


		/* Placement du marqueur sur l'emplacement selectionné */
        maCarte.addListener('click', function(e){
			if (monMarqueur != null) {
				monMarqueur.setMap(null);
			}
			monMarqueur = new google.maps.Marker({
				position: e.latLng,
				map: maCarte,
				icon: 'http://maps.google.com/mapfiles/kml/paddle/blu-circle.png'
			});
			maCarte.setZoom(19);
			maCarte.setCenter(monMarqueur.getPosition());
			maCarte.setMapTypeId('satellite');

			
			/* Service de geocoding pour récupérer l'adresse du lieu selectionné par la souris */
			/* On ne modifie que l'url en fonction du marqueur */
			geocoder = new google.maps.Geocoder();
			geocoder.geocode({'location':monMarqueur.getPosition()}, function(results, status) {
				if (status == 'OK') {
					$('#lci_boilerboxbundle_site_ba_lienGoogle').val('latLng' + monMarqueur.getPosition());
					/*$('#lci_boilerboxbundle_site_ba_adresse').val(results[0].formatted_address);*/
					$('#lci_boilerboxbundle_site_ba_lienGoogle').attr('readonly', true);
				} else {
					alert('Aucune adresse trouvée pour le lieu selectionné');
				}
			});
        });


        autocomplete.addListener('place_changed', function() {
            var place = autocomplete.getPlace();
			if (place.geometry) {
				maCarte.panTo(place.geometry.location);
				maCarte.setZoom(19);
				maCarte.setMapTypeId('satellite');
            	monMarqueur = new google.maps.Marker({
                    position: place.geometry.location,
                    map: maCarte
            	});
			}
			$('#lci_boilerboxbundle_site_ba_lienGoogle').val('latLng' + place.geometry.location);
			$('#lci_boilerboxbundle_site_ba_lienGoogle').attr('readonly', true)
		});

		$('#lci_boilerboxbundle_site_ba_lienGoogle').on('change', function() {
			var $objPos = {};

			var $position = $('#lci_boilerboxbundle_site_ba_lienGoogle').val();
			// Si la coordonnée est retournée par l'outil de google map On zoom sur le lieu de l'adresse selectionnée
			// Sinon si l'adresse provient du site web google map, on extrait les coordonnées
			var $coordonnees = $position.match(/latLng\((.+?),(.+?)\)/);
			if ($coordonnees == null) {
				geocoder = new google.maps.Geocoder();
				var $adresse = 'https://maps.googleapis.com/maps/api/geocode/json?address=' + $('#lci_boilerboxbundle_site_ba_lienGoogle').val() + '&key=' + "{{ apiKey }}";
				$.ajax({
					url: $adresse,
					method: "get",
					success: function(msg) {
						$objPos.lat = msg['results'][0]['geometry']['location']['lat'];
						$objPos.lng = msg['results'][0]['geometry']['location']['lng'];
						maCarte.setCenter($objPos);
						maCarte.setZoom(19);
						maCarte.setMapTypeId('satellite');
						monMarqueur = new google.maps.Marker({
            				position: $objPos,
            				map: maCarte
        				});
						$latLng = 'latLng(' + $objPos.lat + ',' + $objPos.lng + ')';
                        $('#lci_boilerboxbundle_site_ba_lienGoogle').val($latLng);
					}
				});
			} else {
				$objPos.lat = parseFloat($coordonnees[1]);
				$objPos.lng = parseFloat($coordonnees[2]);
        		maCarte.setCenter($objPos);
				maCarte.setZoom(19);
				maCarte.setMapTypeId('satellite');
			}
		});
    }


	var $indexFichier = 1;
	var $indexFichierSiteBA = 1;
	var $container;
	var $container_site;

	$(document).ready(function() {

		/* Mise en place de l'objet datepicker avec 2 mois affichés */
        $.datepicker.setDefaults({
            numberOfMonths: 2
        });
		$("#lci_boilerboxbundle_bonsAttachement_dateInitialisation" ).datepicker();
		$("#lci_boilerboxbundle_bonsAttachement_dateSignature" ).datepicker();


		/* Récupération du container contenant l'attribut data-prototype */
		$container = $('#lci_boilerboxbundle_bonsAttachement_fichiersPdf');
		/* Récupération du container des fichiers des SitesBA */
		$container_site = $('#lci_boilerboxbundle_site_ba_fichiersJoint');
	

		/* Lien permettant l'ajout d'un nouveau fichier au bon */
		var $addLink = $('<a href="#" id="add_fichier" class="small_link">Ajouter un fichier</a>');
		/* Lien permettant l'ajout d'un nouveau fichier au site */
		var $addLinkFichierSiteBA = $('<a href="#" id="add_fichier_site" class="small_link">Ajouter un fichier</a>');


		/* Ajout du lien dans la div du container */
		$('#lien_ajout_fichier').html($addLink);
		/* Ajout du lien dans la div du container de fichiers des sites */
		$('#lien_ajout_fichier_siteBA').html($addLinkFichierSiteBA);


		/* Ajout d'un listener pour créer un nouveau champs lors du clic sur le lien */
		$addLink.click(function(e){
			ajoutChampFichier();
			e.preventDefault();
			$('#lci_boilerboxbundle_bonsAttachement_fichiersPdf_' + ( $indexFichier - 1 ) + '_file').trigger("click");
			return false;
		});
		/* Ajout d'un listener pour création d'un champs lors du clic sur le lien des fichiers des sitesBA */
		$addLinkFichierSiteBA.click(function(e){
            ajoutChampFichierSiteBA();
            e.preventDefault();
            $('#lci_boilerboxbundle_site_ba_fichiersJoint_' + ( $indexFichierSiteBA - 1 ) + '_file').trigger("click");
            return false;
        });



		/* Affichage des informations du site selectionné dans l'encart SiteBA */
        $('#lci_boilerboxbundle_bonsAttachement_site option').click(function(){
			$('#titre_nouveau_siteBA').text('Modification du site');
			$('#fichiers_deja_joints').html('');
            var $id_site_ba = this.value;
            var $url = "{{ path('lci_ajax_bons_get_siteBA') }}";
            $.ajax({
                url: $url,
                method: "post",
                data: {'id_site_ba':$id_site_ba},
                success: function(msg) {
					var $tab_siteBA = $.parseJSON(msg);
					$('#id_site_ba').val($tab_siteBA[0]);
					$('#lci_boilerboxbundle_site_ba_intitule').val($tab_siteBA[1]);
					$('#lci_boilerboxbundle_site_ba_intitule').attr('readonly', true);
					$('#lci_boilerboxbundle_site_ba_adresse').val($tab_siteBA[2]);
					$('#lci_boilerboxbundle_site_ba_lienGoogle').val($tab_siteBA[3]);			
					$('#lci_boilerboxbundle_site_ba_contact').val($tab_siteBA[4]);
					$('#lci_boilerboxbundle_site_ba_emailContact').val($tab_siteBA[5]);
					$('#lci_boilerboxbundle_site_ba_telContact').val($tab_siteBA[6]);	
					$('#lci_boilerboxbundle_site_ba_informationsClient').val($tab_siteBA[7]);
					if ($tab_siteBA[8]) {
						$.each($tab_siteBA[8], function(index, value) {
							$('#fichiers_deja_joints').append(value + '<br />');
						});
					}
					$('#lci_boilerboxbundle_site_ba_lienGoogle').trigger('change');
					 /* Placement du marqueur sur la page */
					ajoutMarqueur($('#lci_boilerboxbundle_site_ba_lienGoogle').val());
                    return true;
                }
            });
        });

		/* Lors du clic sur reset on réautorise l'écriture du nom du site et on supprime la valeur de l'identifiant du site  pour éviter une mise à jour */
		$('#lci_boilerboxbundle_site_ba_reset').click(function(){
			$('#lci_boilerboxbundle_site_ba_intitule').attr('readonly', false);
			$('#lci_boilerboxbundle_site_ba_lienGoogle').attr('readonly', false);
			$('#id_site_ba').val('');
			$('#fichiers_deja_joints').html('');
			$('#titre_nouveau_siteBA').text('Nouveau site');
		});

	});

	// Fonction qui ajoute un champs 'Nouveau fichier' en remplacant le label et le nom par l'index du fichier
	function ajoutChampFichier() {
		var $nouveauPrototype = $($('#lci_boilerboxbundle_bonsAttachement_fichiersPdf').data('prototype').replace(/__name__label__/g, '').replace(/__name__/g, $indexFichier));

	 	// Création et ajout d'un lien de suppression en fin de container
        $deleteLink = $('<a href="#" class="mini_link">Supprimer</a>');
        $nouveauPrototype.append($deleteLink);

		$deleteLink.click(function(e){
			$nouveauPrototype.remove();
			e.preventDefault();
			return false;
		});

		// Ajout du prototype a la fin du container
		//console.log($nouveauPrototype.html());
		$container.prepend($nouveauPrototype);
		//console.log($container.html());
		// Incrémentation de l'index des fichiers
		$indexFichier ++;
	}



    // Fonction qui ajoute un champs 'Nouveau fichier de site BA' en remplacant le label et le nom par l'index du fichier
    function ajoutChampFichierSiteBA() {
        var $nouveauPrototype = $($('#lci_boilerboxbundle_site_ba_fichiersJoint').data('prototype').replace(/__name__label__/g, '').replace(/__name__/g, $indexFichierSiteBA));

        // Création et ajout d'un lien de suppression en fin de container
        $deleteLink = $('<a href="#" class="mini_link">Supprimer</a>');
        $nouveauPrototype.append($deleteLink);

        // Ajout du listener permettant la suppression du champ fichier lors du clic sur le lien
        $deleteLink.click(function(e){
            $nouveauPrototype.remove();
            e.preventDefault();
            return false;
        });

		console.log($nouveauPrototype);
        // Ajout du prototype a la fin du container
        $container_site.prepend($nouveauPrototype);
		//console.log($container_site.html());
        // Incrémentation de l'index des fichiers
        $indexFichierSiteBA ++;
    }


	function ajoutMarqueur($infosCoordonnees) {
		var $objPos = {};
		var $coordonnees = $infosCoordonnees.match(/latLng\((.+?),(.+?)\)/);
		$objPos.lat = parseFloat($coordonnees[1]);
        $objPos.lng = parseFloat($coordonnees[2]);
		
		/* Création du marqueur */
        monMarqueur = new google.maps.Marker({
            position: $objPos,
            map: maCarte
        });

		/* Placement du marqueur sur la carte */
        maCarte.setZoom(19);
        maCarte.setCenter(monMarqueur.getPosition());
        maCarte.setMapTypeId('satellite');
	}



</script>



{# lien vers api autocompletion de google #}
<script src="https://maps.googleapis.com/maps/api/js?key={{ apiKey }}&libraries=places&callback=initAutocomplete"  async defer></script> 



{% endblock javascript %}
